[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-aiohttp = "*"

[packages]
aiogram = "==2.4"
ujson = "*"
uvloop = "*"

[requires]
python_version = "3.9"

[scripts]
main = "python unreddit/main.py"
